<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Selamat datang pada tugas Endpoint Flask AP2B.</h1>
        <a href="/datajson" class="btn">Lihat Data Mahasiswa</a>
    </div>
</body>
</html>
